body {
    background-color: #706C61;
}

* {
    color: #81F499;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 0px;
    margin: 0px;
}

.search-form, .results {
    box-sizing: content-box;
    margin: 0 auto;
    max-width: 400px;
    padding: 16px;
}

.search-form {
    border: 2px solid #899E8B;
    border-radius: 16px;
    margin-top: 48px;
}

.results {
    list-style-type: none;
}

.search-box {
    width: 100%;
}

.matchResults {
    border: 2px solid #899E8B;
    margin-top: 16px;
    padding: 16px;
}

.highlight {
    background-color: #FFFFCC;
}